* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --color-primary-light: #ffd700;
  --color-secondary-light: #808080;
  --color-warning-light: #ef6c00;
  --color-info-light: #000000;
  --color-error-light: #a10702;
  --color-success-light: #00cc66;
}
