* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/*PALETA light*/
/* *{
  color:#ffd700,
}*{
  color: #808080,
}*{
  color:#ef6c00,
}*{
  color:#000000,
}*{
  color:#A10702,
}*{
  color: #00CC66,
} */
